.wp-block-search {
  max-width: var(--responsive--aligndefault-width); }
  .wp-block-search__button-only.aligncenter .wp-block-search__inside-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .wp-block-search .wp-block-search__label {
    font-size: var(--form--font-size);
    font-weight: var(--form--label-weight);
    margin-bottom: calc(var(--global--spacing-vertical) / 3); }
  .wp-block-search .wp-block-search__input {
    border: var(--form--border-width) solid var(--form--border-color);
    border-radius: var(--form--border-radius);
    color: var(--form--color-text);
    line-height: var(--form--line-height);
    max-width: inherit;
    margin-right: calc(-1 * var(--button--border-width));
    padding: var(--form--spacing-unit); }
    .wp-block-search .wp-block-search__input:focus {
      color: var(--form--color-text);
      border-color: var(--form--border-color); }
    .has-background .wp-block-search .wp-block-search__input {
      border-color: var(--local--color-primary, var(--global--color-primary)) !important; }
  .wp-block-search button.wp-block-search__button {
    margin-left: 0;
    line-height: 1; }
    .wp-block-search button.wp-block-search__button.has-icon {
      padding: 6px calc(0.5 * var(--button--padding-horizontal)); }
      .wp-block-search button.wp-block-search__button.has-icon svg {
        width: 40px;
        height: 40px;
        fill: currentColor; }
    .has-background .wp-block-search button.wp-block-search__button:hover, .has-background .wp-block-search button.wp-block-search__button:active {
      background-color: var(--local--color-background, var(--global--color-background)) !important;
      color: var(--local--color-primary, var(--global--color-primary)) !important; }
    .has-text-color .wp-block-search button.wp-block-search__button:hover, .has-text-color .wp-block-search button.wp-block-search__button:active {
      color: var(--local--color-primary, var(--global--color-primary)) !important; }
  .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    background-color: var(--global--color-white);
    border: var(--form--border-width) solid var(--form--border-color);
    border-radius: var(--form--border-radius);
    padding: var(--form--border-width); }
    .has-background .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
      border-color: var(--local--color-primary, var(--global--color-primary)) !important; }
    .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
      margin-left: 0;
      margin-right: 0;
      padding-left: var(--form--spacing-unit); }
      .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input:focus {
        color: var(--form--color-text);
        outline-offset: -2px;
        outline: 2px dotted var(--form--border-color); }
    .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper button.wp-block-search__button {
      padding: var(--button--padding-vertical) var(--button--padding-horizontal); }
      .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper button.wp-block-search__button:hover {
        color: var(--global--color-dark-gray); }
      .is-dark-theme .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper button.wp-block-search__button {
        color: var(--global--color-dark-gray); }
        .is-dark-theme .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper button.wp-block-search__button:hover {
          background-color: var(--global--color-dark-gray);
          color: var(--global--color-white); }
      .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper button.wp-block-search__button.has-icon {
        padding: 6px calc(0.5 * var(--button--padding-horizontal)); }

.wp-block-search__button {
  -webkit-box-shadow: none;
  box-shadow: none; }
